<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='login'></ion-back-button>
    </ion-buttons>
    <ion-title>Restablecer contraseña</ion-title>
  </ion-toolbar>
  <ion-row>
    <ion-col size="2"></ion-col>
    <ion-col size="8">   
      <a [routerLink]="['/home']" class="small-text"><Center>Volver a Inicio</Center></a>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Ingrese nombre de usuario</ion-label>
      <ion-input required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" [routerlink]="['/login']">Recuperar</ion-button>
      </ion-col>
    </ion-row>

    <small>
      Se enviará un link a su correo para recuperar su cuenta.
    </small>
  </form>
</ion-content>